<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido</title>
</head>

<body>
  <div style="text-align: center; padding: 20px;">
    <h1>Bienvenido a nuestra aplicación</h1>
    <p>Estamos emocionados de tenerte como parte de nuestra comunidad.</p>
    <p>Gracias por unirte y esperamos que disfrutes de tu experiencia con nosotros.</p>
    <br>
    <p>Saludos,</p>
    <p>El equipo de nuestra aplicación</p>
  </div>
</body>

</html>